{% extends 'base.html' %}
{% load static %}
{% block body %}

<body class="d-flex flex-column h-100">
<header>
  <!-- navbar -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Przychodnia Kortowo</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="/">Główna</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/informations">Informacje</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">Wizyty</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Kontakt</a>
          </li>
        </ul>
        <form class="d-flex">
        {% if user.is_authenticated %}
        	<!-- add here href to logout -->
          <a href="{% url 'logout' %}"><button class="btn btn-outline-light" type="button">Wyloguj się</button></a>
        }
        {% else %}
          <a href="{% url 'login' %}"> <button class="btn btn-outline-light" type="button" style="margin-right:10px;">Zaloguj się</button></a>
          <a href="{% url 'register' %}"><button class="btn btn-outline-light" type="button">Zarejestruj się</button></a>
		</form>
        {% endif %}
      </div>
    </div>
  </nav>
</header>
<main role="main">
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="container">
      <h1 style="text-align: center;">Wizyty</h1>
        <!-- Example row of columns -->
      <table class="table table-striped" style="margin-top:20px;"> 
            <tr>
                <th>Data</th>
                <th>Godzina</th>
                <th>Lekarz</th>
                <th>Rodzaj wizyty</th>
                <th>Opis</th>
            </tr>
            <tr>
                <td>10/06/2021</td>
                <td>10:30</td>
                <td>Kolanko</td>
                <td>Kontrolna</td>
                <td>Wizyta kontrolna kręgosłupa</td>
            </tr>
            <tr>
                <td>11/06/2021</td>
                <td>11:15</td>
                <td>Pudzianowski</td>
                <td>Leczenie</td>
                <td>Leczenie przewlekłego zapalenia ucha</td>
            </tr>
    </table>

      </div> <!-- /container -->

    </main>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  </body>

{% endblock body %}